models/craft/craft
models/easyocr/easyocr
models/insightface/insightface
models/insightface/main.py
models/insightface/main2.py
models/mtcnn/mtcnn
models/mtcnn/main.py
models/mtcnn/main2.py
models/mtcnn/mainhamed.py
models/paddle_ocr/paddle_venv
models/paddle_ocr/main.py
models/paddle_ocr/saveResults.py

models/retina_face/re_face_venv
models/retina_face/funny.py
models/retina_face/main.py

face_results
text_results
images
mall_images
results